@import "../../global.scss";

.portfolioList {
  font-size: 20px;
  // width: 290px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  // overflow: hidden;

  @include mobile{
    font-size: 15px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-right: 20px;
  }

  &.active {
    background-color: $mainColer;
    color: white;
  }
}